#home-page{
	font-family:sans-serif;
	text-align: center;
}
h1{
	color: purple;
	padding: 10px;
	font-family: Didot;
}
#image1{
	width: 150px;
}
#image2{
	width: 150px;
}
#image3{
	width: 150px;
}
#image4{
	width: 150px;
}
#category{
	font-size: 20px;
}
#reset{
	display: none;
}
#homepage{
	display: none;
}
#myDiv{
	width: 150px;
	height: 100px;
}
#buttonStyle{
	
}